/* Common css (style) */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Bubblegum Sans',sans-serif;
}
.text-gray {
  color: #707479 !important;
}
.text-red {
  color: #E84B3A !important;
}

.text-yellow {
  color: #FFC008 !important;
}

.text-orange {
  color: #FC7F0C !important;
}

.text-purple {
  color: #92278F !important;
}

.text-lightblue {
  color: #14B7F1 !important;
}

.text-pink {
  color: #EE257C !important;
}

.text-lightgreen {
  color: #91C846 !important;
}

.text-brown {
  color: #A40202 !important;
}

.bg-red {
  background-color: #E84B3A !important;
}

.bg-yellow {
  background-color: #FFC008 !important;
}

.bg-orange {
  background-color: #FC7F0C !important;
}

.bg-purple {
  background-color: #92278F !important;
}

.bg-lightblue {
  background-color: #14B7F1 !important;
}

.bg-pink {
  background-color: #EE257C !important;
}

.bg-lightgreen {
  background-color: #91C846 !important;
}

.bg-brown {
  background-color: #A40202 !important;
}
.button-default {
  padding: 15px 30px;
  margin-right: 20px;
  color: white;
  font-size: 16px;
  font-style: italic;
}

